
                                    /* GENERAL */
* {
    box-sizing: border-box;
    margin: 0;
}



@font-face {
    font-family: "Figtree";
    src: url("./fonts/Figtree-Medium.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Figtree";
    src: url("./fonts/Figtree-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}


body {
    font-family: "Figtree", sans-serif;
    font-size: 16px;
    background-color: #06171E;
    scroll-behavior: smooth;
    /* display: flex;
    flex-direction: column; */
}
 
.wrapper {
    max-width: 1440px;
    margin: 0 auto;
      
} 

main {
    padding-top: 81px;   
    padding-bottom: 128px;
}
                                /* HEADER */

header {
    background-color: #09212A;
    height: 81px; 
   position: fixed;
   top: 0;
   width: 100%;
   z-index: 1000;  
}

header img {
    width: 215px;
    height: 41px;   
}

header .wrapper {
    height: 100%;
    display: flex;
    align-items: center;
}


                                      /* MAIN */
main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
 }

                                 /* GALLERY */

h1 {
    font-size: 56px;
    font-weight: 800;
    color: #FFFFFF;
    padding-top: 179px;
    padding-bottom: 173px;
    }

#gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}

.gallery-img {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    cursor: pointer; 
}

#gallery img:hover {
 opacity: 0.6;
}


                        /* POP-UP */
                       
#popUp {
   max-width: 688px;
    max-height: 675px;
    width: 90%;
    height: 90vh;
    background-color: #09212A;
    border-radius: 40px;
    border: none;
    margin: auto;
    
}

#popUp::backdrop {
    background: rgba(0,0,0,0.6);
}

.popUp-content{
   width: 90%;
   display: flex;
   gap: 16px;
   flex-direction: column;
   padding: 20px 0;
   margin: 0 auto;
   height: 100%;
  }
 

#popUp-img {
flex: none;
max-width: 100%;
max-height: 400px;
object-fit: contain;
margin: 0 auto;
}

h3 {
    color: #FFFFFF;
} 

#closeBtn{
    font-size: 24px;
    border: none;
    background: none;
    color: #FFFFFF;
    cursor: pointer;  
}

.picTitleAndCloseBtn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#counter{
    color: #FFFFFF;
}

#arrows {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

#arrows button {
    width: 60px;
    height: 60px;
    border: none;
    background:none;
    cursor: pointer;
} 




                        /* FOOTER */

footer {
    background-image:url(./logos/Footer-bg.png);
    background-size:cover;
    background-position: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
    
}

.footer-container {
    height: 128px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.footer-container img {
    height: 32px;
    width: 134px;
}

.footer-container span {
    font-size: 13px;
    color: #617177;
}



@media (max-width: 1485px) {
    header {
display: flex;
justify-content: center;    
}
}

h1 {
    text-align: center;
    font-size: clamp(40px, 6vw, 50px);
}



@media (max-width: 360px) {
    header img {
    width: 205px;
    height: 35px;   
  
}
}

@media (max-width: 998px){
    h1 {
    padding-top: 100px;
    padding-bottom: 100px;
    }

}
 

@media (max-width: 675px){
    h1 {
    padding-top: 100px;
    padding-bottom: 80px;
    }
.gallery-img {
    width: 130px;
    height: 130px;
}

}


@media (max-width: 540px) {
    h3 {
    font-size: 16px; 
} 
} 


@media(max-width:600px) {
    #popUp{
    max-width: none;
    max-height: none;
    width: 100vw;
    height: 80vh;   
}
#gallery {
    padding-bottom: 40px;
}

.popUp-content{
   padding-top: 80px;
   
}
}

html:has(dialog[open]),
body:has(dialog[open]) {
    overflow: hidden;
    height: 100%;
}
