
                                    /* GENETAL */
* {
    box-sizing: border-box;
    margin: 0;
}

@font-face {
    font-family: "Figtree";
    src: url("./fonts/Figtree-Medium.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Figtree";
    src: url("./fonts/Figtree-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}


body {
    font-family: "Figtree", sans-serif;
    font-size: 16px;
    background-color: #06171E;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
   
}
 
.wrapper {
    max-width: 1440px;
    margin: 0 auto;
  
} 

                                /* HEADER */

header {
    background-color: #09212A;
    height: 81px; 
   position: fixed;
   top: 0;
   width: 100%;
   z-index: 1000;
    
}

header img {
    width: 215px;
    height: 41px;   
  
}

header .wrapper {
    height: 100%;
    display: flex;
    align-items: center;
}


                                      /* MAIN */
main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
 
}

                                 /* GALLERY */

h1 {
    font-size: 56px;
    font-weight: 800;
    color: #FFFFFF;
    padding-top: 179px;
    padding-bottom: 173px;
    }


#gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}

#gallery img {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    cursor: pointer; 
}

#gallery img:hover {
 opacity: 0.6;
}

                        /* POP-UP */
                       
#popup {
    background-color: #09212A;
    width: 680px;
    height: 675px;
    border-radius: 40px;
    border: none;
    margin: auto;
   
}      

.popup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}


 .picNameAndClose {
    padding-top: 40px;
    width: 560px;
    display: flex;
    justify-content: space-between;
 }

 #popup_title {
    background: none;
    color: #FFFFFF;
    font-size: 24px;
 }

#closeBtn {
    cursor: pointer;
    background: none;
    color: #FFFFFF;
    font-size: 24px;
    border: none;
}

#popup_img {
    width:560px ;
    height: 375px;
    object-fit: contain;
    object-position: center;
}

.arrows {
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 18px;
    color:#FFFFFF;
}

#currentNummer {
    min-width: 40px;
    text-align: center;
}

.arrows button {
    width: 60px;
    height: 60px;
    background: none;
    border: none;
    cursor: pointer;
    }

    dialog::backdrop {
    background: rgba(0, 0, 0, 0.6); 
}
                        /* FOOTER */

footer {
    background-image:url(./logos/Footer_bg.png);
    background-size:cover;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 1000;
    
}

.footer-container {
    height: 128px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.footer-container img {
    height: 32px;
    width: 134px;
}

.footer-container span {
    font-size: 13px;
    color: #617177;
}


@media (max-width: 775px) {
    h1 {
        text-align: center;
    }
}

@media (max-width: 1485px) {
    header {
display: flex;
justify-content: center;    }
}

@media (max-width: 775px) {
    h1 {
font-size: 50px;    }
}

@media (max-width: 335px) {
    h1 {
font-size: 45px;  }
}

.picNameAndClose {
    width: clamp(270px, 80%, 560px);
}
